/* Google font Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  background: #C0B4DA;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 60px;
  top: 0px;
}

.container#blur.active {
  filter: blur(20px);
}

/* #popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 70%;
  padding: 50px;
  transition: 0.5s;
} */
.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
  background: #e7d4f9;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  /* z-index: 120; */
  /* box-shadow: 0px 3px 5px 1px #0000001f; */
}

.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  padding-top: 0px;
  color: #fff;
  min-width: 60px;
  text-align: center
}

.logo-details i img {
  width: 60px;
}


.sidebar .logo-details .logo_name {
  color: #fff;
  background: linear-gradient(to right, #8382ff, #bf95fe, #ce61fe, #f850ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 24px;
  font-weight: 500;
}

.sidebar .nav-links {
  margin-top: 10px;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
  cursor: pointer;
  /* height: 100%; */
  /* width: 100%; */
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li.active {
  background-color: #6b86b8;
}

.sidebar .nav-links li.active:hover {
  background-color: #6b86b8;
}

.sidebar .nav-links li:hover {
  background: #1f3e77;
  background: #ffffff;

}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.sidebar .nav-links li .fa-gear {
  /* width: 100px;
  height: 100px; */
  /* background-color: #0CB1C4; */
  /* animation-name: spin; */
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sidebar .nav-links li:hover i {
  /* min-width: 60px;
  text-align: center;
  font-size: 18px; */
  color: #000000;
}

.sidebar .nav-links li:hover span {
  color: #000000;
}


li.active {
  background-color: #1f3e77;
  /* padding-top: 10px; */
}

.sidebar .nav-links li .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
  /* top: 59px;
  padding: 27px; */
  /* padding-top: 60px; */
}

.sidebar.active~.home-section {
  /* width: calc(100% - 60px); */
  /* left: 60px; */
  width: calc(100% - 60px);
  overflow: hidden;
  left: 60px;
  /* top: 59px;
  padding: 27px; */
  /* padding-top: 60px; */
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  background: #E7D4F9;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  /* padding: 0 20px; */
  padding: 0px 0px 0px 20px;
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px -3px rgb(0 0 0 / 20%); */
  transition: all 0.5s ease;
  top: 0;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
  left: 58px;
  width: calc(100% - 58px);
  top: 0px;
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: -90px;

  transition: all 0.5s ease;
}

nav .sidebar-button i:hover {
  cursor: pointer;

}

.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}

nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  background: #ffffff;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 47px 0px 15px;
}

nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #1e0e41;
  background: #ddd0f8;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  color: #694a89;
  color: #a487c3;
  font-size: 22px;
  transition: all 0.4 ease;
}

nav .search-box .bx-search:hover {
  color: #694a89;
  cursor: pointer;
}

.home-section nav .profile-details {
  display: flex;
  align-items: center;
  /* background: #F5F6FA; */
  background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
  background-size: 200% auto;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  /* border: 2px solid #EFEEF1; */
  border-radius: 10px;
  height: 50px;
  /* min-width: 190px; */
  padding: 0 6px 0 5px;
  justify-content: center;
}

.home-section nav .profile-details:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  border: 2px solid #EFEEF1;
  object-fit: cover;
}

nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}

nav .profile-details i {
  font-size: 25px;
  color: #333;
}

.home-content .overview-boxes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 49px;
}

.home-content .col-14 .overview-boxes.hide_me {
  display: flex;
}



.overview-boxes .box {
  display: flex;
  align-items: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  background: #FDFDFD;
  padding: 15px 28px;
  margin: 14px 0px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  flex-direction: row;
}

.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}

.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}

.home-content .box .indicator {
  display: flex;
  align-items: center;
}

.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}

.box .indicator i.down {
  background: #e87d88;
}

.home-content .box .indicator .text {
  font-size: 12px;
}

.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}

.box {
  /* margin-top: 15px; */
}

.home-content .box .cart.two {
  color: #2BD47D;
  background: #C0F2D8;
}

.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}

.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}

.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}

.home-content .sales-boxes {
  /* padding: 0 20px; */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  flex-direction: column;
  align-items: center;
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  overflow: auto;
  border-radius: 12px;
  padding-bottom: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}

.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}

.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}

/* .sales-boxes .recent-sales .button {
  width: 100%;
  display: flex;
  justify-content: center;
} */

.sales-boxes .button {
  /* margin-bottom: 2px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  padding: 0px 29px 0px 0px;
  bottom: 50px;
  width: 100%;
}

.sales-boxes .button a {
  color: #fff;
  background: #c0b4da;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sales-boxes .button a:hover {
  background: #9a8cb8;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
    top: 0px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
    /* width: calc(100% - 220px); */
    overflow: hidden;
    /* left: 220px; */
    /* top: 59px;
    padding: 27px; */
    /* padding-top: 60px; */
  }

  .sidebar.active~.home-section {
    width: calc(100% - 220px);
    overflow: hidden;
    left: 220px;
    /* top: 59px;
    padding: 27px; */
    /* padding-top: 60px; */
  }

  .home-section nav {
    /* width: calc(100% - 60px);
    left: 60px; */
    width: calc(100% - 58px);
    left: 58px;
    top: 0px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
    /* margin-right: 40px; */
  }

  .home-content .sales-boxes .box {
    width: 100%;
    /* overflow-x: scroll; */
    /* margin-bottom: 30px; */
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }

  .home-content .sales-boxes .recent-sales {
    /* padding-bottom: 55px; */
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 800px) {
  .sidebar.active~.home-section .home-content .sales-boxes .box {
    width: 650px;
    /* overflow-x: scroll; */
    /* margin-bottom: 30px; */
  }
}

@media (max-width: 700px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  nav .sidebar-button .dashboard,
  /* Google font Poppins CDN Link */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    /* background: #0A2558; */
    transition: all 0.5s ease;
  }

  .sidebar.active {
    width: 60px;
  }

  .container#blur.active {
    filter: blur(20px);
  }

  /* #popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
    padding: 50px;
    transition: 0.5s;
  } */
  .sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
  }

  .sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }

  .sidebar .nav-links {
    margin-top: 10px;
  }

  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
    cursor: pointer;
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  .sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  .sidebar .nav-links li.active {
    background-color: #6b86b8;
  }

  .sidebar .nav-links li.active:hover {
    background-color: #6b86b8;
  }

  .sidebar .nav-links li:hover {
    background: #1f3e77;
    background: #B5B2D1;

  }

  .sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }


  li.active {
    background-color: #1f3e77;
    /* padding-top: 10px; */
  }

  .sidebar .nav-links li .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }

  .sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }

  .sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* background: #fff; */
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 4px -3px rgb(0 0 0 / 20%); */
    transition: all 0.5s ease;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
  }

  nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
  }

  .home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }

  nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 47px 0px 15px;
  }

  nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
  }

  .home-section nav .profile-details {
    display: flex;
    align-items: center;
    /* background: #F5F6FA; */
    /* border: 2px solid #EFEEF1; */
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
  }

  nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
  }

  nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }

  nav .profile-details i {
    font-size: 25px;
    color: #333;
  }

  .home-section .home-content {
    position: relative;
    /* padding-top: 104px; */
  }

  .home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
  }

  .overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
  }

  .home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }

  .home-content .box .indicator {
    display: flex;
    align-items: center;
  }

  .home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }

  .box .indicator i.down {
    background: #e87d88;
  }

  .home-content .box .indicator .text {
    font-size: 12px;
  }

  .home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }

  .box {
    /* margin-top: 15px; */
  }

  .home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
  }

  .home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
  }

  .home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
  }

  .home-content .total-order {
    font-size: 20px;
    font-weight: 500;
  }

  .home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }

  /* left box */
  .home-content .sales-boxes .recent-sales {
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    overflow: auto;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }

  .sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
  }

  .sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
  }

  .sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }

  /* .sales-boxes .recent-sales .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  } */

  .sales-boxes .button {
    /* margin-bottom: 2px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    padding: 0px 29px 0px 0px;
    bottom: 50px;
    width: 100%;
  }

  .sales-boxes .button a {
    color: #fff;
    background: #c0b4da;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .sales-boxes .button a:hover {
    background: #9a8cb8;
  }

  /* Responsive Media Query */
  @media (max-width: 1240px) {
    .sidebar {
      width: 60px;
    }

    .sidebar.active {
      width: 220px;
    }

    .home-section {
      width: calc(100% - 60px);
      left: 60px;
    }

    .sidebar.active~.home-section {
      /* width: calc(100% - 220px); */
      overflow: hidden;
      left: 220px;
    }

    .home-section nav {
      width: calc(100% - 60px);
      left: 60px;
    }

    .sidebar.active~.home-section nav {
      width: calc(100% - 220px);
      left: 220px;
    }
  }

  @media (max-width: 1150px) {
    .home-content .sales-boxes {
      flex-direction: column;
    }

    .home-content .sales-boxes .box {
      width: 100%;
      /* overflow-x: scroll; */
      margin-bottom: 30px;
    }

    .sidebar.active~.home-content .sales-boxes .box {
      width: 100%;
      width: 560px;
      /* overflow-x: scroll; */
      margin-bottom: 30px;
    }

    .home-content .sales-boxes .top-sales {
      margin: 0;
    }
  }

  @media (max-width: 1000px) {
    .overview-boxes .box {
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }

  @media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
      display: none;
    }

    .home-section nav .profile-details {
      height: 50px;
      min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
      width: 560px;
    }
  }

  @media (max-width: 550px) {
    .overview-boxes .box {
      width: 100%;
      margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
      /* display: none; */
    }
  }

  .bx {
    padding-bottom: 3px;
  }

  /* Google font Poppins CDN Link */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    /* background: #0A2558; */
    transition: all 0.5s ease;
  }

  .sidebar.active {
    width: 60px;
  }

  .container#blur.active {
    filter: blur(20px);
  }

  /* #popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 70%;
  padding: 50px;
  transition: 0.5s;
} */
  .sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
  }

  .sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
  }

  .sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
  }

  .sidebar .nav-links {
    margin-top: 10px;
  }

  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
    cursor: pointer;
    /* height: 100%; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  .sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
  }

  .sidebar .nav-links li.active {
    background-color: #6b86b8;
  }

  .sidebar .nav-links li.active:hover {
    background-color: #6b86b8;
    background: #ffffff;
  }

  .sidebar .nav-links li:hover {
    background: #1f3e77;
    background: #ffffff;

  }

  .sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
  }


  li.active {
    background-color: #1f3e77;
    /* padding-top: 10px; */
  }

  .sidebar .nav-links li .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
  }

  .sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .home-section {
    /* position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease; */
  }

  .home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 60px);
    left: 60px;
    transition: all 0.5s ease;
  }

  .sidebar.active~.home-section {
    /* width: calc(100% - 60px);
    left: 60px; */
    width: calc(100% - 59px);
    left: 59px;
  }

  .home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* background: #fff; */
    display: flex;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 2px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 4px -3px rgb(0 0 0 / 20%); */
    transition: all 0.5s ease;
    align-items: center;
  }

  .sidebar.active~.home-section nav {
    /* left: 60px;
    width: calc(100% - 60px); */
    left: 58px;
    width: calc(100% - 58px);
  }

  .home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    display: none;
  }

  .sidebar.it_is_mobile~.home-section nav .sidebar-button {
    display: flex;
  }

  nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
  }

  .home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
  }

  nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 47px 0px 15px;
  }

  nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    background: #ddd0f8;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    color: #a487c3;
    font-size: 22px;
    transition: all 0.4 ease;
  }

  .home-section nav .profile-details {
    display: flex;
    align-items: center;
    /* background: #F5F6FA; */
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
    background-size: 200% auto;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    /* border: 2px solid #EFEEF1; */
    border-radius: 10px;
    height: 50px;
    min-width: 190px;
    padding: 0 11px 0 12px;

    justify-content: center;
  }


  nav .profile-details img {
    height: 40px;
    width: 40px;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    object-fit: cover;
  }

  nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
  }

  nav .profile-details i {
    font-size: 35px;
    color: #333;
  }

  .home-section .home-content {
    position: relative;
    padding-top: 28px;
  }

  .home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 37px;
    margin-bottom: 26px;
  }

  .overview-boxes .box {
    display: flex;
    justify-content: space-between;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 27px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }

  .overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
  }

  .home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
  }

  .home-content .box .indicator {
    display: flex;
    align-items: center;
  }

  .home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
  }

  .box .indicator i.down {
    background: #e87d88;
  }

  .home-content .box .indicator .text {
    font-size: 12px;
  }

  .home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
  }

  .box {
    /* margin-top: 15px; */
  }

  .home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
  }

  .home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
  }

  .home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
  }

  .home-content .total-order {
    font-size: 20px;
    font-weight: 500;
  }

  .home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
    /* margin-right: 40px; */
  }

  /* left box */
  .home-content .sales-boxes .recent-sales {
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    overflow: auto;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .home-content .sales-boxes .sales-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .home-content .sales-boxes .recent-sales {
    /* padding-bottom: 0px; */
  }

  .sales-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }

  .sales-boxes .sales-details li.topic {
    font-size: 20px;
    font-weight: 500;
  }

  .sales-boxes .sales-details li {
    list-style: none;
    margin: 8px 0;
  }

  .sales-boxes .sales-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }

  .sales-boxes .button {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    bottom: 51px;
  }

  .sales-boxes .button a {
    color: #fff;
    background: #c0b4da;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .sales-boxes .button a:hover {
    background: #9a8cb8;

  }

  /* Responsive Media Query */
  @media (max-width: 1240px) {
    .sidebar {
      width: 60px;
      top: 0px;
    }

    .sidebar.active {
      /* width: 220px; */
    }

    .home-section {
      /* width: calc(100% - 60px);
      left: 60px; */
    }

    .sidebar.active~.home-section {
      /* width: calc(100% - 220px); */
      overflow: hidden;
      /* left: 220px; */
    }

    .home-section nav {
      /* width: calc(100% - 60px);
      left: 60px; */
      width: calc(100% - 59px);
      left: 59px;
      top: 0px;
    }

    .sidebar.active~.home-section nav {
      /* width: calc(100% - 220px); */
      /* left: 220px; */
    }
  }

  @media (max-width: 1150px) {
    .home-content .sales-boxes {
      flex-direction: column;
      /* margin-right: 40px; */
    }

    .home-content .sales-boxes .box {
      width: 100%;
      /* overflow-x: scroll; */
      /* margin-bottom: 30px; */
    }

    .home-content .sales-boxes .top-sales {
      margin: 0;
    }
  }

  .home-content .sales-boxes .recent-sales {
    /* padding-bottom: 0px; */
  }

  @media (max-width: 1000px) {
    .overview-boxes .box {
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }

  @media (max-width: 800px) {
    .sidebar.active~.home-section .home-content .sales-boxes .box {
      width: 650px;
      /* overflow-x: scroll; */
      /* margin-bottom: 30px; */
    }
  }



  @media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
      /* display: none; */
    }

    .home-section nav .profile-details {
      height: 50px;
      min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
      width: 650px;
    }
  }

  @media (max-width: 550px) {
    .overview-boxes .box {
      width: 100%;
      margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
      /* display: none; */
    }
  }

  .bx {
    padding-bottom: 3px;
  }

  nav span .admin_name .username {
    display: none;
  }

  nav .profile-details .admin_name,
  nav .profile-details i {
    /* display: none; */
    padding-top: 4px;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 48px;
    margin: 0px 0px 0px 0px;
  }

  .home-content .sales-boxes .sales-details {
    width: 650px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    /* display: none; */
  }
}

.bx {
  padding-bottom: 3px;
}


.dashboard.active {
  visibility: visible;
  position: absolute;
  width: 100%;
  top: 10.5%;
  height: calc(100% - 90px);
}

.dashboard {
  visibility: hidden;
}

iframe {
  height: calc(100% - 96px);
}

.home-content.dashboard.active {
  padding-top: 26px;
}


.edaf {
  width: 0%;
  position: fixed;
  height: 100%;
  background: transparent;
  visibility: hidden;
  transition: all 0.7s ease;
}

@media (max-width: 675.25) {

  .home-section nav .sidebar-button {
    display: flex;
  }

  .home-section nav {
    width: calc(100% - 0px);
    left: 0px;
    top: 0px;
  }

  .sidebar.active~.home-section {
    width: calc(100% - 0px);
    left: 0px;
  }

  .sidebar.active~.home-section nav {
    left: 0px;
    width: calc(100% - 0px);
  }

  .home-section {
    width: calc(100% - 0px);
    left: 0px
  }

  .sidebar {
    width: 0px;
    /* z-index: 0; */
  }

  .sidebar.active {
    width: 220px;
    /* z-index: 130; */
  }

  .fade {
    visibility: visible;
    width: 100%;
    /* z-index: 129; */
    height: 100%;
    background: #1a191955
  }
}

.home-section .home-content {
  position: relative;
  padding-top: 80px;
}

body .home-section {
  /* width: calc(100% - 220px); */
  /* overflow: hidden; */
  /* left: 220px; */
  padding-bottom: 10px;
}

.sidebar.active~.home-section {
  overflow: hidden;
  /* left: 220px; */
  padding-bottom: 10px;
}












.sales-boxes .button {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  bottom: 51px;
}

.home-content .sales-boxes .recent-sales::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.home-content .sales-boxes .recent-sales::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}

.home-content .sales-boxes .recent-sales::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}

.sidebar ul li {
  z-index: 1000;
  text-decoration: none;
}

/* 
span:hover {
  position: relative;
} */

/* span[aria-label]:hover:after {
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 2000px;
  background: red;
} */

body::-webkit-scrollbar {
  height: 3px;
  width: 0px;
  border-radius: 3px;
  box-shadow: 0px 2px 5px #595858d4;
}

body::-webkit-scrollbar-track {
  background: rgb(231 212 249);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  background: rgb(147 163 218);
  background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB 51%, #B993D6 100%);
  background-size: 200% auto;
  transition: 0.5s;
  border-radius: 10px;
  border-radius: 10px;
}


/* .sidebar ul li .tooltip {
  display: inline-block;
  position: absolute;
  background-color: #000000;
  padding: 8px 15px;
  border-radius: 3px;
  margin-top: -26px;
  left: 90px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
  letter-spacing: 0.5px;
} */

/* .sidebar ul li .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: 10px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}


.sidebar ul li:hover .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 102;
} */

.data-frame1 {
  overflow-x: auto;
  width: 100%;
  /* height: 88vh; */
  /* height: calc(100vb - 87px); */
  height: calc(100vb - 80px);
}

.form-frame1 {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 0px;
  /* height: 88vh; */
  height: calc(100vb - 80px);
}

.home-content .hide_me {
  display: none;
}

.handel_this {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.sidebar.it_is_mobile {
  width: 240px;
  z-index: 88;
}

.sidebar.it_is_mobile.active {
  width: 60px;
  z-index: 88;
}

@media (max-height: 450px) {
  .sidebar {
    overflow-y: scroll;

  }

  .sidebar .nav-links .log_out {
    position: relative;
    /* bottom: 0px; */
    width: 100%;
  }

  .sidebar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

}



.serve-user {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

i.bx.bx-dots-vertical-rounded {
  font-size: 35px;
  padding: 0;
  padding-top: 1px;
}

i.bx.bx-dots-vertical-rounded:hover {
  cursor: pointer;
}


/**** Hide services Starts****/



.menu tr.s-m-tr td .tooltip {
  visibility: hidden;
  /* display: none; */
}




@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

.menu {
  position: absolute;
  left: calc(100% - 46px);
  top: calc(100% - 0px);
  /* width: 0; */
  /* height: 0; */
  background: #c0b4da;
  padding: 8px 15px;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  margin-bottom: -274px;
  box-shadow: 0 15px 31px 15px rgb(0 0 0 / 23%);
  box-shadow: rgb(0 0 0 / 10%) -4px 9px 25px -6px;
  border-radius: 0px 0px 0px 7px;
  margin-right: -2px;
  transition: all 0.7s ease;
}

.serve-user.unwrap-plate>.menu {
  visibility: visible;
  opacity: 1;
}

a:focus+.menu {
  visibility: hidden;
  opacity: 0;
}

.menu ul li .link {
  text-decoration: none;
  color: #95ffec;
  opacity: 0;
  visibility: hidden;
}

.home-section nav .serve-user.unwrap-plate~.menu {
  opacity: 1;
  visibility: visible;
  width: 55px;
  height: 177px;
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px 8px 0px 12px;
}

/* .serve-user.unwrap-plate~.menu ul .link {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s ease 0.3s;
  -o-transition: 0.5s ease 0.3s;
  transition: 0.5s ease 0.3s;
} */

/* .serve-user.unwrap-plate~.menu ul .link:hover {
  color: #2df9de;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  background: transparent;
  transition: 0.2s;
}

.serve-user:not(.bx-dots-vertical-rounded)~.menu {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.serve-user:not(.bx-dots-vertical-rounded)~.menu ul .link {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
} */

tr.s-m-tr {
  display: flex;
  flex-direction: column;
}

tr.s-m-tr td a i {
  color: white;
}

tr.s-m-tr td a span {
  color: white;
}

tr.s-m-tr td {
  /* width: 60px; */
  /* background: #000000; */
  height: 55px;
  display: flex;
  /* width: 60px; */
  /* background: #000000; */
  align-items: center;
  justify-content: center;
}

tr.s-m-tr td :hover .tooltip {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

tr.s-m-tr td .tooltip {
  display: inline-block;
  position: absolute;
  background-color: #e7d4f9;
  padding: 8px 15px;
  margin-top: -5px;
  right: 63px;
  opacity: 0;
  visibility: hidden;
  font-size: 13px;
  letter-spacing: 0.5px;
  border-radius: 3px;
}

tr.s-m-tr td .tooltip:before {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  top: 9px;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  background-color: inherit;
}



.sidebar.darker~.home-section {
  background: #1f1f1f;
}

.sidebar.darker~.home-section nav {
  background: #191919;
}

.sidebar.darker>.logo-details {
  background: #191919;
}

.sidebar.darker {
  background: #111111;
}

.sidebar.it_is_mobile.active>.nav-links li .links_name {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sidebar.darker~.home-section nav .serve-user.unwrap-plate .menu {
  background: #111111;
}

.sidebar.darker~.home-section nav .serve-user.unwrap-plate .menu .tooltip {
  background-color: #191919;
}

.sidebar.darker~.home-section nav .profile-details {
  background-image: linear-gradient(to right, #8079f0 0%, #82abf2 51%, #8079f0 100%);
  box-shadow: 0px 8px 16px rgb(131 173 243 / 12%);
  background-size: 200% auto;
  transition: 0.5s;
}

.sidebar.darker~.home-section nav .profile-details span {
  color: #1f1f1f;
}

.sidebar.darker~.home-section nav .profile-details i {
  color: white;
}

.sidebar.darker~.home-section nav .profile-details:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.sidebar.darker~.home-section nav .search-box i {
  color: #818ef1;
  background: #1f1f1f;
}

.sidebar.darker~.home-section nav .search-box i:hover {
  color: #807af0;
}

.sidebar.darker~.home-section nav .sidebar-button i {
  color: white;
}

.sidebar.darker~.home-section nav .serve-user i {
  color: white;
}

/* **Dark Mode** */

/* background: #111111; sidebar */
/* background: #1f1f1f; home-section */
/* background: #191919; nav */
/* background: #191919; logo-details */
/* background: #1f1f1f; i bx-search */
/* background: #111111; menu */
/* background-color: #191919; tooltip */

/* color: #818ef1; search icon */

/* background: linear-gradient(90deg, #8079f0 0%, #82abf2 100%);
  box-shadow: 0px 8px 16px rgb(131 173 243 / 25%); profile-details */

hr {
  border: 0;
  height: 1px;
  background: #c0b4da;
  background-image: linear-gradient(to right, #ccc3, #e7d4f9, #ccc3);
}

.sidebar.darker>.nav-links hr {
  background-image: linear-gradient(to right, #0e0e0eb3, #e7d4f900, #0e0e0eb3);
}


.sidebar.darker~.home-section .home-content .col-16 .contact-form .form-control {
  color: #ffffff8c !important;
  background-color: #8787872e !important;
  border: 1px solid #82a7f2 !important;
}

.sidebar.darker~.home-section .home-content .col-16 .bg-secondary {
  background-color: #000000 !important;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.sidebar.darker~.home-section .home-content .col-16 .contact-form div .form-label {
  color: white !important;
}

.sidebar.darker~.home-section .home-content .col-16 .contact-form .bb-form-btn-d .form-button {
  background-color: #111 !important;
  color: #8198f1 !important;
}


.sidebar.darker~.home-section .home-content .col-16 .contact-form div #subject option {
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-16 .contact-form div #subject optgroup {
  background: #000000;
}

/* .sidebar.darker~.home-section .home-content .col-16 .contact-form div #subject option:hover {
  background: #c496f3 !important;
} */

.sidebar~.home-section .home-content .col-16 .contact-form #subject .op-head {
  background: #e7d4f9 !important;
  font-size: 16px !important;
}

.sidebar.darker~.home-section .home-content .col-16 .contact-form #subject .op-head {
  background: #000000 !important;
  color: white;
  font-size: 16px !important;
}

option:hover {
  background-color: #c496f3 !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .form-control {
  color: #ffffff8c !important;
  background-color: #8787872e !important;
  border: 1px solid #82a7f2 !important;
}

.sidebar.darker~.home-section .home-content .col-17 .bg-secondary {
  background-color: #000000 !important;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form div .form-label {
  color: white !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .bb-form-btn-d .form-button {
  background-color: #111 !important;
  color: #8198f1 !important;
}


.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form div .select-st option {
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form div .select-st optgroup {
  background: #000000;
}

/* .sidebar.darker~.home-section .home-content .col-16 .contact-form div #subject option:hover {
  background: #c496f3 !important;
} */

.sidebar~.home-section .home-content .col-17 .leaving-e-form .select-st {
  font-size: 16px !important;
}


.sidebar~.home-section .home-content .col-17 .leaving-e-form .select-st .op-head {
  background: #e7d4f9 !important;
  color: #ffffff81 !important;
  font-size: 16px !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .select-st .op-head {
  background: #000000 !important;
  color: white;
  font-size: 16px !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .phone-class i.fa.fa-phone {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .phone-class i.fa-envelope {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-17 .leaving-e-form .phone-class i.fa-person {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

option:hover {
  background-color: #c496f3 !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .form-control {
  color: #ffffff8c !important;
  background-color: #8787872e !important;
  border: 1px solid #82a7f2 !important;
}

.sidebar.darker~.home-section .home-content .col-15 .bg-secondary {
  background-color: #000000 !important;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form div .form-label {
  color: white !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .bb-form-btn-d .form-button {
  background-color: #111 !important;
  color: #8198f1 !important;
}


.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form div .select-st option {
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form div .select-st optgroup {
  background: #000000;
}

/* .sidebar.darker~.home-section .home-content .col-16 .contact-form div #subject option:hover {
  background: #c496f3 !important;
} */

.sidebar~.home-section .home-content .c.col-15 .dataentry-form .select-st {
  font-size: 16px !important;
}

.sidebar~.home-section .home-content .c.col-15 .dataentry-form .select-st .op-head {
  background: #e7d4f9 !important;
  color: #ffffff81 !important;
  font-size: 16px !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .select-st .op-head {
  background: #000000 !important;
  color: white;
  font-size: 16px !important;
}

.sidebar~.home-section .home-content .col-15 .dataentry-e-form .select-st {
  font-size: 16px !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .phone-class i.fa.fa-phone {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .phone-class i.fa-envelope {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

.sidebar.darker~.home-section .home-content .col-15 .dataentry-e-form .phone-class i.fa-person {
  color: #81a0f1 !important;
  border-right: 1.9px solid #82a7f2 !important;
  background: #181818 !important;
}

.sidebar~.home-section .home-content .col-15 .dataentry-e-form .select-st .op-head {
  background: #e7d4f9 !important;
  color: #ffffff81 !important;
  font-size: 16px !important;
}

option:hover {
  background-color: #c496f3 !important;
}



.sidebar.darker~.home-section .home-content .bg-secondary {
  background-color: #111111e0 !important;
}

.sidebar.darker~.home-section .home-content .col-13 .bg-secondary {
  background-color: transparent !important;
}

.sidebar.darker~.home-section .home-content .bg-secondary .table-responsive::-webkit-scrollbar {
  box-shadow: 0px 0px 0px transparent !important;
}

.sidebar.darker~.home-section .home-content .col-12 .bg-secondary .mb-4 {
  color: #aec7ff !important;
}

.sidebar.darker~.home-section .home-content .bg-secondary .button a {
  color: #191c24 !important;
  background: #81a6f1 !important;
  color: #ebf0ff !important;
  background: #1e1e1e !important;
}